/* Utilidades em geral para o projeto*/
:root{
  /*Cores black and white*/
  --w:#ffffff;
  --c1:#f7f7f7;
  --c2:#ededed;
  --c3:#dedede;
  --c4:#cccccc;
  --c5:#b2b2b2;
  --c6:#9c9c9c;
  --c7:#717171;
  --c8:#595959;
  --c9:#404040;
  --c10:#2e2e2e;
  --c11:#111111;
  --c12:#000000;

  /* Tons de amarelo*/
  --p1:#ffbb00;
  --p2:#e4a30b;
  --p3:#a66f00;
  --p4:#664400;
  --p5:#332200; 

  /* Tamanho de Larguras*/

  --mx:1200px;

  /* Espaçamentos utilizados */

  --esp4:4px;
  --esp8:8px;
  --esp12:12px;
  --esp16:16px;
  --esp20:20px;
  --esp24:24px;
  --esp32:32px;
  --esp36:36px;
  --esp40:40px;
  --esp48:48px;
  --esp60:60px;
  --esp72:72px;
  --esp80:80px;
  --esp120:120px;
  --esp160:160px;
  --esp200:200px;
}

/* Botão */

.button{
  display: inline-block;
  padding: var(--esp16) var(--esp32);
  background: linear-gradient(#FFBF00, #F2A50C);
  border-radius: 50px;
  box-shadow: 0px 1px 2px 0px #0000001A;
  text-transform: uppercase;
  color: var(--p5);
  font-size: var(--fs18);
  line-height: 1.33;
  font-weight: 600;
  font-family: var(--pop), sans-serif;
}

.button:hover{
  background: linear-gradient(#FFB60d, #e59317);
}

@media (max-width:600px){
  .button {
    padding: var(--esp12) var(--esp16);
    font-size: var(--fs16);
  }
}

.p-detail{
  color: var(--p1);
}


img[src$=".jpg"]{
  border-radius: 50px;
}

.content{
  max-width: var(--mx);  
  margin: 0 auto;
  padding: 0 var(--esp20);
}